
@{
    ViewBag.Title = "New";
}


<div class="tab">
    <a class="tab1" href="/teacher/List">Back To List</a>
</div>

<h2>New Teacher</h2>
<form method="post" action="/Teacher/Create">
    <div>
        <label for="teacherFname">First Name:</label>
        <input type="text" id="teacherFname" name="teacherFname" />
    </div>

    <div>
        <label for="teacherLname">Last Name:</label>
        <input type="text" id="teacherLname" name="teacherLname" />
    </div>

    <div>
        <label for="TeacherEmployeeNo">Employee Number:</label>
        <input type="text" id="TeacherEmployeeNo" name="TeacherEmployeeNo" />
    </div>

    <div>
        <label for="salary">Salary:</label>
        <input type="number" id="salary" name="salary" />
    </div>

    <div>
        <label for="HireDate">HireDate:</label>
        <input type="datetime" id="HireDate" name="HireDate" />
    </div>

    <div>
        <input type="submit" value="Create Teacher" />
    </div>
</form>